.button {
    -fx-font-weight: bold;
}
.label {
    -fx-background-image: url("file:src//main//resources//deskCard//png//back.png");
    -fx-background-size: stretch;
}




#karta1 {
    -fx-background-image: url("file:src//main//resources//deskCard//png//terra.jpg");
-fx-background-size: stretch;

    
    
}
#karta2 {
    -fx-background-image:  url("file:src//main//resources//deskCard//png//terra5.png");
    -fx-background-size: stretch;
}

#karta3 {
    -fx-background-image: url("file:src//main//resources//deskCard//png//terra3.jpg");
-fx-background-size: cover;
    
    
}
#karta4 {
    -fx-background-image:  url("file:src//main//resources//deskCard//png//terra4.jpg");
    -fx-background-size: stretch;
}
